## Data Engineering

In [1]:
#Importing Packages
import sys
sys.path.append("..")
import pandas as pd
from FasttextClassifier.FasttextClassifier import FasttextClassifier
from sklearn.model_selection import train_test_split
import random
import csv
from pathlib import Path

### Creating FastText training file from Reuters files

In [2]:
train = pd.read_csv('../Data/train/Reuters/r8-train-all-terms.txt', header=None, sep='\t')
train.columns = ['label', 'content']
test = pd.read_csv('../Data/test/Reuters/r8-test-all-terms.txt', header=None, sep='\t')
test.columns = ['label', 'content']
test.head()

   label                                            content
0  trade  asian exporters fear damage from u s japan rif...
1  grain  china daily says vermin eat pct grain stocks a...
2   ship  australian foreign ship ban ends but nsw ports...
3    acq  sumitomo bank aims at quick recovery from merg...
4   earn  amatil proposes two for five bonus share issue...

In [3]:
test['label'] = '__label__'+test['label']
train['label'] = '__label__'+train['label']
train

                  label                                            content
0         __label__earn  champion products ch approves stock split cham...
1          __label__acq  computer terminal systems cpml completes sale ...
2         __label__earn  cobanco inc cbco year net shr cts vs dlrs net ...
3         __label__earn  am international inc am nd qtr jan oper shr lo...
4         __label__earn  brown forman inc bfd th qtr net shr one dlr vs...
...                 ...                                                ...
5480      __label__earn  kelly oil and gas partners kly year dec shr ct...
5481  __label__money-fx  japan seeks to strengthen paris currency accor...
5482      __label__earn  tcw convertible securities cvt sets dividend t...
5483  __label__money-fx  south korean won fixed at month high the bank ...
5484      __label__ship  australian unions launch new south wales strik...

[5485 rows x 2 columns]

In [4]:
#saving train file
train.to_csv('trainFT.txt', sep='\t', header=None, index=False)
test.to_csv('testFT.txt', sep='\t', header=None, index=False)

### Creating the model and testing

In [5]:
ft_model = FasttextClassifier(train_data='trainFT.txt')

In [6]:
ft_model.fasttext_test('testFT.txt')

(2189, 0.970306075833714, 0.970306075833714)

In [8]:
ft_model.label('I like apples.')

(('__label__acq',), array([0.98414904]))