In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

#### EN_20_labels

In [2]:
EN20_filepath = os.path.abspath('C:/Users/franc/OneDrive/Documentos/Projects/tclass/Text Datasets/EN_20_labels/bbc-text.csv')

In [3]:
EN20=pd.read_csv(EN20_filepath)

In [4]:
EN20.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [5]:
EN20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
category    2225 non-null object
text        2225 non-null object
dtypes: object(2)
memory usage: 34.8+ KB

#### EN_4 _labels

In [6]:
EN4_filepath = os.path.abspath('C:/Users/franc/OneDrive/Documentos/Projects/tclass/Text Datasets/EN_4_labels(CTMH)/train.csv')

In [7]:
EN4=pd.read_csv(EN4_filepath)

In [8]:
EN4.head()

,Class Index,Title,Description
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

In [9]:
#1 represents World, 2 represents Sports, 3 represents Business and 4 represents Sci/Tech.
def get_label(index_lst):
    label_lst = []
    for x in index_lst:
        if x=='1':
            label_lst.append('World')
        if x=='2':
            label_lst.append('Sports')
        if x=='3':
            label_lst.append('Business')
        if x=='4':
            label_lst.append('Sci/Tech')
    return label_lst
EN4['Label_str'] = get_label(EN4['Class Index'].astype(str))

In [10]:
EN4.head()

,Class Index,Title,Description,Label_str
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...",Business
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,Business
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,Business
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,Business
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...",Business

In [11]:
print(EN4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 4 columns):
Class Index    120000 non-null int64
Title          120000 non-null object
Description    120000 non-null object
Label_str      120000 non-null object
dtypes: int64(1), object(3)
memory usage: 3.7+ MB
None

#### EN_5(H)_labels

In [12]:
EN5H_filepath = os.path.abspath('C:/Users/franc/OneDrive/Documentos/Projects/tclass/Text Datasets/EN_5H_labels/News.csv')

In [13]:
EN5H=pd.read_csv(EN5H_filepath)

In [14]:
EN5H.head()

,headline,category,authors,short_description
0,There Were 2 Mass Shootings In Texas Last Wee...,CRIME,Melissa Jeltsen,She left her husband. He killed their childre...
1,Will Smith Joins Diplo And Nicky Jam For The ...,ENTERTAINMENT,Andy McDonald,Of course it has a song.
2,Hugh Grant Marries For The First Time At Age ...,ENTERTAINMENT,Ron Dicker,The actor and his longtime girlfriend Anna Eb...
3,Jim Carrey Blasts 'Castrato' Adam Schiff And ...,ENTERTAINMENT,Ron Dicker,The actor gives Dems an ass-kicking for not f...
4,Julianna Margulies Uses Donald Trump Poop Bag...,ENTERTAINMENT,Ron Dicker,The Dietland actress said using the bags is a...

In [15]:
#remove authors column
EN5H_new=EN5H.drop(columns=['authors'])

In [16]:
EN5H_new.head()

,headline,category,short_description
0,There Were 2 Mass Shootings In Texas Last Wee...,CRIME,She left her husband. He killed their childre...
1,Will Smith Joins Diplo And Nicky Jam For The ...,ENTERTAINMENT,Of course it has a song.
2,Hugh Grant Marries For The First Time At Age ...,ENTERTAINMENT,The actor and his longtime girlfriend Anna Eb...
3,Jim Carrey Blasts 'Castrato' Adam Schiff And ...,ENTERTAINMENT,The actor gives Dems an ass-kicking for not f...
4,Julianna Margulies Uses Donald Trump Poop Bag...,ENTERTAINMENT,The Dietland actress said using the bags is a...

#### EN_41_labels

In [17]:
EN41_filepath = os.path.abspath('C:/Users/franc/OneDrive/Documentos/Projects/tclass/Text Datasets/EN_41_labels/News_Category_Dataset_v2.json')

In [18]:
EN_41=pd.read_json(EN41_filepath, lines=True)

In [19]:
EN_41.head()

,authors,category,date,headline,link,short_description
0,Melissa Jeltsen,CRIME,2018-05-26,There Were 2 Mass Shootings In Texas Last Week...,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...
1,Andy McDonald,ENTERTAINMENT,2018-05-26,Will Smith Joins Diplo And Nicky Jam For The 2...,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.
2,Ron Dicker,ENTERTAINMENT,2018-05-26,Hugh Grant Marries For The First Time At Age 57,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...
3,Ron Dicker,ENTERTAINMENT,2018-05-26,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...
4,Ron Dicker,ENTERTAINMENT,2018-05-26,Julianna Margulies Uses Donald Trump Poop Bags...,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ..."

**So, EN_5 is contained in EN_41**. We will proceed with EN_41

In [20]:
EN_41_new=EN_41.drop(columns=['authors', 'link','date'])

In [21]:
EN_41_new.head()

,category,headline,short_description
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,She left her husband. He killed their children...
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Of course it has a song.
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Ebe...
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,The actor gives Dems an ass-kicking for not fi...
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,"The ""Dietland"" actress said using the bags is ..."